body{
    background-image: url(the\ main\ background.jpg);
    background-repeat: no-repeat;
    background-size:100% 950px;
    background-attachment: scroll;
}
input[type="search"]{
    width:95%;
    height:30px;
}
input[placeholder="are you search on specific course"]{
    font-size:20px;
    font-family: fantasy;
    color:black;
}
input[type="submit"]{
    color:black;
    width:60px;
    height:30px;
    font-size: 13px;
    font-weight: bold;
    background-color: burlywood;
    transform: translate(0,-3px);
}
fieldset{
    border:black solid;
}
h1{
    text-align: center;
    font-size:50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
}
div{
    display:flex;
    flex-flow: row;
    justify-content: space-evenly;
    font-size:40px;
    color:rgba(0, 26, 255, 0.512);

}
#home,#cert,#our,#cour{
    background:white;
}
#home:active{
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style:solid ;
    color:red;
}
#cert:active{
    text-decoration-line: underline;
    text-decoration-color:black;
    text-decoration-style: solid;
    color:red;
}
#our:active{
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: solid;
    color:red;
}
#cour:active{
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: solid;
    color:red;
}
p{
    color:black;
    font-size:50px;
    font-weight:bold;
    text-align: center;
}
strong{
    color:white;
}
fieldset{
    width:70%;
    transform: translate(190px,40px);
}
legend{
    color:white;
    font-size:20px;
}
#div{
    display:flex;
    flex-flow: row;
    justify-content: space-evenly;
}

a[href="courses.html"],a[href="registration.html"]{
    background-image:linear-gradient(to right,blue,navy);
    width:280px;
    height:150px;
    font-size:40px;
    color:black;
    font-weight: bold;
    text-decoration-line: none;
    border-radius: 100px 100px 100px 100px;
}
.course,.reg{
    color:black;
    font-size:20px;
    text-align: center;
}
#div a b{
    text-align: center;
}
.reg:active{
    color:white;
}
.course:active{
    color:white;
}
img[src="images/search logo.jpg"]{
    transform: translate(1390px,30px);
}

